In [1]:
import os
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [5]:
# Configuration

NUM_TRADING_DAYS = 252
NUM_SIMULATIONS = 500
Z_SCORE_NORMAL_95 = 1.96
TICKERS = ['AMT', 'PLD', 'CCI', 'EQIX', 'PSA']
TIMEFRAME = '1D'
START_DATE_ET = '2018-11-04'
END_DATE_ET = '2021-11-04'

In [6]:
# Initialize Alpaca Trade API Client

# NOTE: Must have the APCA_API_KEY_ID and APCA_API_SECRET_KEY
# environment variables configured in the OS or in a .env file.
# Environment variables with this name are looked up by default
# by Alpaca.
load_dotenv()
alpaca = tradeapi.REST()

In [7]:
start_date = pd.Timestamp(START_DATE_ET, tz='America/New_York').isoformat()
end_date = pd.Timestamp(END_DATE_ET, tz='America/New_York').isoformat()

closing_prices_df = alpaca.get_barset(
                        symbols=TICKERS,
                        timeframe=TIMEFRAME,
                        start=start_date,
                        end=end_date).df

# Review the first 5 rows of the Alpaca DataFrame
closing_prices_df.head()

                              AMT                                        CCI  \
                             open    high       low   close   volume    open
time
2021-06-16 00:00:00-04:00  271.59  271.81  265.7644  266.53  1132857  196.24
2021-06-17 00:00:00-04:00  264.52  269.60  263.7800  269.51   928586  193.30
2021-06-18 00:00:00-04:00  268.76  269.58  265.9200  265.96  1759384  196.69
2021-06-21 00:00:00-04:00  265.99  268.15  264.0113  267.74  1078243  195.02
2021-06-22 00:00:00-04:00  267.78  268.38  266.4800  266.60   881149  197.18

                                                              ...     PLD  \
                             high       low   close   volume  ...    open
time                                                          ...
2021-06-16 00:00:00-04:00  196.68  193.2506  193.96   904926  ...  123.67
2021-06-17 00:00:00-04:00  197.06  193.0200  196.86   848371  ...  121.15
2021-06-18 00:00:00-04:00  196.97  194.1700  194.25  1682974  ...  122.18
2021-06-21 00:00:00-04:00  198.00  193.7000  197.65   774869  ...  119.96
2021-06-22 00:00:00-04:00  199.22  197.1100  197.12   907833  ...  122.96

                                                               PSA           \
                             high     low   close   volume    open     high
time
2021-06-16 00:00:00-04:00  124.22  121.35  121.40  2980602  293.68  295.535
2021-06-17 00:00:00-04:00  122.84  121.10  122.60  2914923  292.17  295.680
2021-06-18 00:00:00-04:00  122.99  119.44  119.58  3834976  296.57  299.670
2021-06-21 00:00:00-04:00  122.88  119.50  122.58  1832620  299.39  304.490
2021-06-22 00:00:00-04:00  122.72  121.70  121.98  1315331  303.48  305.590


                               low   close   volume
time
2021-06-16 00:00:00-04:00  292.095  292.23   440127
2021-06-17 00:00:00-04:00  290.410  295.66   433807
2021-06-18 00:00:00-04:00  295.870  298.36  1085560
2021-06-21 00:00:00-04:00  298.700  303.51   503333
2021-06-22 00:00:00-04:00  302.330  302.45   318962

[5 rows x 25 columns]