In [1]:
# Import Required Libraries

import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
# Make sure dotenv is loaded
load_dotenv()

True

In [3]:
# Create Alpaca key variables to call from .env() file
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [4]:
# Create our Alpaca REST object
alpaca = tradeapi.REST(
  alpaca_api_key,
  alpaca_secret_key,
  api_version="v2"
)

alpaca

In [5]:
# Set the start and end dates for the information we want to pull from Alpaca
start_date = pd.Timestamp("2018-01-02", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-11-02", tz="America/New_York").isoformat()

In [6]:
# Set the list of tickers we want the Alpaca request to fetch
tickers = ["FB", "AMZN", "PG", "XOM", "JPM", "JNJ", "HON", "LIN", "AMT", "AAPL", "NEE"]

In [7]:
# Set the timeframe of collection. We just need the a daily price point
timeframe = "1D"

In [8]:
# Create the request of the data to fetch via the Alpaca SDK
prices_df = alpaca.get_barset(
  tickers,
  timeframe,
  limit=1000,
  start=start_date,
  end=end_date
).df

prices_df

                              AAPL                                          \
                              open     high       low     close     volume
time
2018-01-02 00:00:00-05:00  170.160  172.300  169.2600  172.2600   20523941
2018-01-03 00:00:00-05:00  172.530  174.550  171.9600  172.1800   23193409
2018-01-04 00:00:00-05:00  172.540  173.470  172.0800  173.0200   17742231
2018-01-05 00:00:00-05:00  173.440  175.370  173.0500  174.9600   18402859
2018-01-08 00:00:00-05:00  174.310  175.610  173.9300  174.3400   15554212
...                            ...      ...       ...       ...        ...
2021-10-27 00:00:00-04:00  149.380  149.730  148.4900  148.8500   43201783
2021-10-28 00:00:00-04:00  149.860  153.165  149.7200  152.4766   77772052
2021-10-29 00:00:00-04:00  147.190  149.940  146.4128  149.8000  104258290
2021-11-01 00:00:00-04:00  148.985  149.700  147.8000  148.9900   57758481
2021-11-02 00:00:00-04:00  148.670  151.570  148.6500  150.0000   61741508

                              AMT                                      ...  \
                             open    high     low    close     volume  ...
time                                                                   ...
2018-01-02 00:00:00-05:00  143.11  143.22  140.91  141.105  1391810.0  ...
2018-01-03 00:00:00-05:00  141.05  142.50  140.86  141.570  1210542.0  ...
2018-01-04 00:00:00-05:00  141.44  141.96  139.58  139.630  1037487.0  ...
2018-01-05 00:00:00-05:00  140.23  140.70  139.59  140.490  1363577.0  ...
2018-01-08 00:00:00-05:00  140.66  143.24  140.66  142.030  1350838.0  ...
...                           ...     ...     ...      ...        ...  ...
2021-10-27 00:00:00-04:00  288.22  291.17  285.31  285.380  1075895.0  ...
2021-10-28 00:00:00-04:00  285.50  289.99  282.85  286.040  1162672.0  ...
2021-10-29 00:00:00-04:00  284.23  284.93  279.64  281.710  1510135.0  ...
2021-11-01 00:00:00-04:00  282.83  283.16  276.41  282.120  1197575.0  ...
2021-11-02 00:00:00-04:00  282.81  285.29  279.51  282.650  1300858.0  ...

                               PG                                      XOM  \
                             open    high      low   close   volume   open
time
2018-01-02 00:00:00-05:00   91.92   91.93   90.550   90.66  5257189  83.82
2018-01-03 00:00:00-05:00   90.98   91.09   90.515   90.57  3976843  85.16
2018-01-04 00:00:00-05:00   90.83   91.77   90.610   91.18  4316526  86.78
2018-01-05 00:00:00-05:00   91.15   91.30   90.570   91.19  3848619  86.75
2018-01-08 00:00:00-05:00   90.93   91.77   90.930   91.71  3298886  86.70
...                           ...     ...      ...     ...      ...    ...
2021-10-27 00:00:00-04:00  143.14  143.68  141.690  141.83  6682489  65.17
2021-10-28 00:00:00-04:00  141.66  142.88  141.710  142.69  3512972  63.85
2021-10-29 00:00:00-04:00  142.30  143.48  142.020  143.00  3422057  65.07
2021-11-01 00:00:00-04:00  143.36  143.80  142.490  142.65  3830443  65.07
2021-11-02 00:00:00-04:00  142.72  144.58  142.280  144.06  8615444  65.03


                              high      low    close    volume
time
2018-01-02 00:00:00-05:00  85.1950  83.6600  85.0457   8932356
2018-01-03 00:00:00-05:00  86.9650  84.8200  86.7000  11158484
2018-01-04 00:00:00-05:00  87.2200  86.4300  86.8100   8186390
2018-01-05 00:00:00-05:00  86.8800  85.7050  86.6900   8326333
2018-01-08 00:00:00-05:00  87.1500  86.6034  87.0800   5989082
...                            ...      ...      ...       ...
2021-10-27 00:00:00-04:00  65.2500  63.9750  64.1300  18994633
2021-10-28 00:00:00-04:00  64.4700  63.6300  64.3050  14838183
2021-10-29 00:00:00-04:00  65.3600  64.3300  64.4700  18845112
2021-11-01 00:00:00-04:00  66.0795  65.0200  65.6200  16748443
2021-11-02 00:00:00-04:00  65.4470  64.6600  64.8200  13844728

[967 rows x 55 columns]

In [12]:
# Create a new empty DF that that holds only the closing prices of each stock
closing_prices_df = pd.DataFrame()

In [14]:
# Using a for loop, for every ticker in the tickers list, select only the close price for each ticker in the prices_df DF
for ticker in tickers:
  closing_prices_df[ticker] = prices_df[ticker]["close"]

closing_prices_df

,FB,AMZN,PG,XOM,JPM,JNJ,HON,LIN,AMT,AAPL,NEE
time,,,,,,,,,,,
2018-01-02 00:00:00-05:00,181.43,1189.000,90.66,85.0457,108.00,139.2400,153.66,156.17,141.105,172.2600,155.11
2018-01-03 00:00:00-05:00,184.48,1202.740,90.57,86.7000,108.04,140.5300,152.45,157.52,141.570,172.1800,151.80
2018-01-04 00:00:00-05:00,184.32,1209.640,91.18,86.8100,109.05,140.5256,154.46,159.97,139.630,173.0200,150.93
2018-01-05 00:00:00-05:00,186.78,1229.070,91.19,86.6900,108.26,141.6600,155.47,161.27,140.490,174.9600,151.71
2018-01-08 00:00:00-05:00,188.25,1246.950,91.71,87.0800,108.48,141.8500,154.73,161.25,142.030,174.3400,152.98
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27 00:00:00-04:00,312.22,3393.325,141.83,64.1300,167.83,163.7000,215.75,318.96,285.380,148.8500,85.01
2021-10-28 00:00:00-04:00,316.82,3444.500,142.69,64.3050,170.34,162.8700,218.49,317.82,286.040,152.4766,86.40
2021-10-29 00:00:00-04:00,323.58,3372.430,143.00,64.4700,169.94,162.8600,218.62,319.26,281.710,149.8000,85.29
2021-11-01 00:00:00-04:00,330.02,3317.990,142.65,65.6200,169.76,162.9900,219.78,322.94,282.120,148.9900,85.59
2021-11-02 00:00:00-04:00,328.20,3313.170,144.06,64.8200,170.49,165.6000,221.21,327.63,282.650,150.0000,85.43

In [15]:
# Calculate the daily returns for each of the stocks in the portfolio
daily_returns_df = closing_prices_df.pct_change().dropna()
daily_returns_df

,FB,AMZN,PG,XOM,JPM,JNJ,HON,LIN,AMT,AAPL,NEE
time,,,,,,,,,,,
2018-01-03 00:00:00-05:00,0.016811,0.011556,-0.000993,0.019452,0.000370,0.009265,-0.007875,0.008644,0.003295,-0.000464,-0.021340
2018-01-04 00:00:00-05:00,-0.000867,0.005737,0.006735,0.001269,0.009348,-0.000031,0.013185,0.015554,-0.013703,0.004879,-0.005731
2018-01-05 00:00:00-05:00,0.013346,0.016063,0.000110,-0.001382,-0.007244,0.008073,0.006539,0.008127,0.006159,0.011213,0.005168
2018-01-08 00:00:00-05:00,0.007870,0.014548,0.005702,0.004499,0.002032,0.001341,-0.004760,-0.000124,0.010962,-0.003544,0.008371
2018-01-09 00:00:00-05:00,-0.001859,0.004948,-0.006760,-0.003101,0.006914,0.016567,0.008596,0.010357,-0.007393,-0.000057,-0.007125
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27 00:00:00-04:00,-0.011336,0.005165,-0.007140,-0.025972,-0.020886,-0.012368,-0.011545,0.006723,-0.005402,-0.002747,-0.005149
2021-10-28 00:00:00-04:00,0.014733,0.015081,0.006064,0.002729,0.014956,-0.005070,0.012700,-0.003574,0.002313,0.024364,0.016351
2021-10-29 00:00:00-04:00,0.021337,-0.020923,0.002173,0.002566,-0.002348,-0.000061,0.000595,0.004531,-0.015138,-0.017554,-0.012847
2021-11-01 00:00:00-04:00,0.019902,-0.016143,-0.002448,0.017838,-0.001059,0.000798,0.005306,0.011527,0.001455,-0.005407,0.003517
2021-11-02 00:00:00-04:00,-0.005515,-0.001453,0.009884,-0.012191,0.004300,0.016013,0.006507,0.014523,0.001879,0.006779,-0.001869

In [16]:
# Calculate cumulative returns for the stocks portfolio
cumulative_returns = (1 + daily_returns_df).cumprod() - 1
cumulative_returns

,FB,AMZN,PG,XOM,JPM,JNJ,HON,LIN,AMT,AAPL,NEE
time,,,,,,,,,,,
2018-01-03 00:00:00-05:00,0.016811,0.011556,-0.000993,0.019452,0.000370,0.009265,-0.007875,0.008644,0.003295,-0.000464,-0.021340
2018-01-04 00:00:00-05:00,0.015929,0.017359,0.005736,0.020745,0.009722,0.009233,0.005206,0.024332,-0.010453,0.004412,-0.026949
2018-01-05 00:00:00-05:00,0.029488,0.033701,0.005846,0.019334,0.002407,0.017380,0.011779,0.032657,-0.004358,0.015674,-0.021920
2018-01-08 00:00:00-05:00,0.037590,0.048738,0.011582,0.023920,0.004444,0.018745,0.006963,0.032529,0.006555,0.012075,-0.013732
2018-01-09 00:00:00-05:00,0.035661,0.053928,0.004743,0.020745,0.011389,0.035622,0.015619,0.043222,-0.000886,0.012017,-0.020759
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27 00:00:00-04:00,0.720884,1.853932,0.564417,-0.245935,0.553981,0.175668,0.404074,1.042390,1.022466,-0.135899,-0.451937
2021-10-28 00:00:00-04:00,0.746238,1.896972,0.573902,-0.243877,0.577222,0.169707,0.421906,1.035090,1.027143,-0.114846,-0.442976
2021-10-29 00:00:00-04:00,0.783498,1.836358,0.577322,-0.241937,0.573519,0.169635,0.422752,1.044311,0.996457,-0.130384,-0.450132
2021-11-01 00:00:00-04:00,0.818994,1.790572,0.573461,-0.228415,0.571852,0.170569,0.430301,1.067875,0.999362,-0.135086,-0.448198
2021-11-02 00:00:00-04:00,0.808962,1.786518,0.589014,-0.237822,0.578611,0.189313,0.439607,1.097906,1.003118,-0.129223,-0.449230